[Desktop Entry]
Version=1.1
Encoding=UTF-8
Name=Linux Universal Driver
GenericName=Linux Universal Driver
Comment=Installs Drivers for Systems
Exec=system76-driver
Terminal=false
Type=Application
Icon=tux
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;X-Unity-Settings-Panel;
GenericName[en_US]=Linux Universal Driver
X-Unity-Settings-Panel=linuxuniversal-driver
X-GNOME-Settings-Panel=linuxuniversal-driver
